.center-contact{
    /*transform: translateY(40%);*/
    /*padding-top: 5rem;
    padding-bottom: 5rem;*/
    display:table-row;
    display:table-cell;
    height:25rem;
    text-align:center;
    vertical-align:middle;
    width:100%;
}

.btn-info{
    float:left;
    color: #fff;
    background-color: #7DC8BA;
    border-color: #72B1A5;
}

#contact-page{
    padding-top: 70px;
    padding-bottom: 70px;
}
