body {
  padding-top: 5rem;
}

.starter-template {
  padding: 0rem 0rem;
  text-align: center;
  margin-top: 3rem;
}

.bg-dark{
  background-color: #333333 !important;
}

.navbar {
  min-height: 5rem;
  padding-right: 5%;
  padding-left: 10%;
}

.navbar-brand {
  font-size: 1.75rem;
}

@media (max-width: 480px) {
  .navbar-brand {
    font-size: 1rem; 
  }
}

.navbar-dark{
  font-weight: bold;
}

.navbar-dark .navbar-brand {
  color: rgba(255, 255, 255, 0.79);
}

#main{
  padding-right: 0;
  padding-left: 0;  
  margin-top: -3rem;
}

.page {
     padding-top: 15px;
    padding-bottom: 15px;
}

.row { 
      margin-right: 0px; 
      margin-left: 0px; 
}

h2{
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}


#footer {
    background-color: black;
    height:30px;
    width:100%;
}

.custom-file{
  float: left;
}

body {
  font-family: 'Arima Madurai', sans-serif;
}


 
@media (min-width: 768px) {
  .lang-buttons {
    position: fixed;
    top: -5px;
    right: 0px;
  }
}


.lang-button {
    height: 14px;
    width: 22px;
}


@media (max-width: 768px) {
  .lang-button {
    height: 24px;
    width: 32px;
  }
}

@media (max-width: 1200px) {
  .overlay-content {
    top: 40px !important;
  }
}