#media-page {
    margin-top:40px;
    background-color: #333333;
    display:table;
    width:100%;
}

.mini-headers{
 color: rgba(255,255,255,.5); 
 font-weight: bold;
 font-size: 1.1rem;
 padding-bottom: 10px;
}

.bottom_text{
 color: rgba(255, 255, 255, 0.79);
 font-size: 0.8rem;
 padding-bottom: 10px;
}


.smedia-links{
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
  }
  
 

