#about-me-page {
    /* background-color: #5EA5A0; */
    background-color: #AFDAD2;
    display:table;
    width:100%;
}


#center-o-mnie{
    display:table-row;
    display:table-cell;
    height:25rem;
    text-align:center;
    vertical-align:middle;
    width:100%;
}




