/*@media (min-width: 320px) {
    .project-parent {
        height: 300px;
    }
}
@media (min-width: 576px) {
    .project-parent {
        height: 400px;
    }
}
@media (min-width: 768px) {
    .project-parent {
        height: 260px;
    }
}
@media (min-width: 992px) {
    .project-parent {
        height: 220px;
    }
}

@media (min-width: 1200px) {
    .project-parent {
        height: 280px;
    }
}*/


.project-parent {
    padding: 0px;
    border:5px solid #FFF;
    overflow: hidden; 
}

#projects-page{
    padding-top:40px;
    padding-bottom:40px;
}

.project-child:hover, .project-child:focus{
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.5;
}

.project-child{
    cursor: pointer;
    width:100%;
    height:100%;
    background-size: cover;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position: center; 
    transition: all .5s;
}

.project-parent:hover, .project-parent:focus{
    background-color: rgba(101, 134, 150, 0.6);
}



@media (min-width: 480px) {
    .overlay-content {
        padding-left: 120px;
        padding-right: 120px;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }