#welcome-page {
    /* background-color: #5EA5A0; */
    background-color: #AFDAD2;
    /*height: 300px;*/
    display:table;
    width:100%;
}

.img-circle {
    border-radius: 50%;
}

#center-witaj{
    /*transform: translateY(40%);*/
    /*padding-top: 5rem;
    padding-bottom: 5rem;*/
    display:table-row;
    display:table-cell;
    height:25rem;
    text-align:center;
    vertical-align:middle;
    width:100%;
}

