<div id="center-o-mnie">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-xs-10">

            <form action="" onsubmit="return false">

            {* <div class="form-group row">
              <div class="col-10">
                <input class="form-control" value="{$about_title}" type="text" placeholder="Tytuł" id="aboutme-title">
              </div>
            </div> *}

            <div class="form-group">
                {*<textarea class="form-control" value="{$about_content}" rows="3" placeholder="Tekst o mnie"  id="aboutme-content"></textarea>*}
                <div id="aboutme-editor">
                </div>
            </div>

            <button class="btn btn-info" id="aboutme-save">ZAPISZ</button>

        </form>
               
        </div>
    </div>
</div>

 